<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action" (click)="onClick(1)">Books</a>
        <a href="#" class="list-group-item list-group-item-action"(click)="onClick(2)">Coffee Mugs</a>
        <a href="#" class="list-group-item list-group-item-action"(click)="onClick(3)">Mouse Pads</a>
        <a href="#" class="list-group-item list-group-item-action"(click)="onClick(4)">Luggage Tags</a>
      </div>
    </nav>
  </div>